* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.container__1250 {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  height: 72px;
  -webkit-box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  right: 0;
  left: 0;
  background-color: #fff;
  z-index: 100;
}
header .nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
@media (max-width: 830px) {
  header .nav {
    gap: 15px;
  }
}
header .nav__logo .logo-mini {
  display: none;
}
@media (max-width: 1030px) {
  header .nav__logo .logo-mini {
    display: inline;
  }
}
header .nav__logo .logo-original {
  display: inline;
}
@media (max-width: 1030px) {
  header .nav__logo .logo-original {
    display: none;
  }
}
header .nav__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
header .nav__row__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  text-align: center;
  margin-left: 30px;
}
@media (max-width: 800px) {
  header .nav__row__items {
    gap: 13px;
  }
}
@media (max-width: 780px) {
  header .nav__row__items {
    margin-left: 0;
  }
}
@media (max-width: 700px) {
  header .nav__row__items {
    display: none;
  }
}
header .nav__row__items h6 {
  color: #414141;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
}
header .nav__toggle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #70c05b;
  border-radius: 4px;
  cursor: pointer;
}
@media (max-width: 700px) {
  header .nav__toggle {
    display: none;
  }
}
header .nav__toggle button {
  padding: 8px 0 8px 8px;
  border-radius: 4px;
  background-color: transparent;
  position: relative;
}
header .nav__toggle button span {
  display: block;
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: white;
  border-radius: 4px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
header .nav__toggle button .hamburger-top {
  top: 0;
}
header .nav__toggle button .hamburger-center {
  top: 40%;
  bottom: 25%;
}
header .nav__toggle button .hamburger-bottom {
  bottom: 1.2px;
}
header .nav__toggle a {
  width: 92px;
  height: 44px;
  margin-left: 25px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  border-radius: 4px;
}
@media (max-width: 930px) {
  header .nav__toggle a {
    display: none;
  }
}
header .nav__search {
  width: 360px;
  position: relative;
}
@media (max-width: 1090px) {
  header .nav__search {
    width: 300px;
  }
}
@media (max-width: 750px) {
  header .nav__search {
    width: 280px;
  }
}
@media (max-width: 370px) {
  header .nav__search {
    width: 250px;
  }
}
@media (max-width: 330px) {
  header .nav__search {
    width: 200px;
  }
}
header .nav__search input {
  padding: 8px 0;
  width: 100%;
  outline: none;
  border: 2px solid #70c05b;
  border-radius: 4px;
  padding-left: 8px;
}
header .nav__search img {
  position: absolute;
  right: 8px;
  top: 5px;
}
header .nav__end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-left: 15px;
}
@media (max-width: 700px) {
  header .nav__end img {
    display: none;
  }
}
@media (max-width: 1180px) {
  header .nav__end {
    gap: 0;
  }
}
@media (max-width: 700px) {
  header .nav__end {
    margin-left: 0;
  }
}
header .nav__end h1 {
  color: #232323;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
@media (max-width: 1180px) {
  header .nav__end h1 {
    display: none;
  }
}
header .nav__end button {
  padding: 8px;
  background-color: transparent;
}
@media (max-width: 730px) {
  header .nav__end button img {
    display: none;
  }
}
header .nav__items__basket {
  position: relative;
}
header .nav__items__basket span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 10px;
  top: -5px;
  font-size: 8px;
  border-radius: 16px;
  color: #fff;
  background-color: #f63;
}

#katalog {
  position: fixed;
  right: 0;
  left: 0;
  top: -200px;
  width: 100%;
  height: 248px;
  padding: 40px 116px;
  gap: 20px;
  border-radius: 4px;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
  z-index: 5;
}

.katalog__menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.katalog__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.katalog__menu ul a {
  color: #414141;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
}
.katalog__menu ul a:hover {
  color: #f63;
}

#header__bottom {
  height: 56px;
  position: fixed;
  right: 0;
  left: 0;
  bottom: -3px;
}
@media (min-width: 700px) {
  #header__bottom {
    display: none;
  }
}
#header__bottom .nav__bottom {
  height: 100%;
}
#header__bottom .nav__bottom__row {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#header__bottom .nav__bottom__row button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
}
#header__bottom .nav__bottom__row a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #414141;
  font-size: 10px;
  font-weight: 400;
  line-height: 150%;
  gap: 4px;
}
#header__bottom .nav__bottom__row .basket__zero {
  position: relative;
}
#header__bottom .nav__bottom__row span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 5px;
  top: -5px;
  font-size: 8px;
  border-radius: 16px;
  color: #fff;
  background-color: #f63;
}

#katalog__bottom {
  width: 100%;
  height: 250px;
  padding: 20px;
  background-color: #f63;
  position: fixed;
  z-index: 10;
  bottom: -200px;
  display: none;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 8px;
}
@media (max-width: 700px) {
  #katalog__bottom {
    display: grid;
  }
}
#katalog__bottom a {
  font-size: 18px;
  color: #fff;
}

footer {
  background: url(../../assets/images/footer-background.png);
  background-color: #f9f4e2;
}

.footer {
  padding-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}
@media (max-width: 1070px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 780px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (max-width: 460px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
@media (max-width: 780px) {
  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}
.footer__list a {
  color: #414141;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
}
.footer__end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
@media (max-width: 560px) {
  .footer__end {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__end .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.footer__brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
@media (max-width: 780px) {
  .footer__brands {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (max-width: 560px) {
  .footer__brands {
    gap: 10px;
    grid-template-columns: repeat(2, auto);
  }
}
@media (max-width: 450px) {
  .footer__brands {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 56px;
  gap: 8px;
}
@media (max-width: 450px) {
  .footer__bottom {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer__bottom p {
  color: #414141;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
}

body {
  background-color: #fbf8ec;
}

.hero {
  padding-top: 160px;
  padding-bottom: 80px;
}
.hero__title {
  color: #414141;
  font-size: 64px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 60px;
}
.hero__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}
@media (max-width: 760px) {
  .hero__row {
    gap: 16px;
  }
}
@media (max-width: 376px) {
  .hero__row {
    gap: 80px;
  }
}
.hero__item {
  max-width: 272px;
  position: relative;
}
@media (max-width: 600px) {
  .hero__item {
    height: 140px;
  }
}
@media (max-width: 760px) {
  .hero__item {
    max-width: 160px;
  }
}
@media (max-width: 376px) {
  .hero__item {
    max-width: 272px;
  }
}
.hero__item img {
  width: 100%;
}
.hero__item__effect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding: 0 0 10px 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(112, 192, 91, 0)), color-stop(82.81%, #70c05b));
  background: linear-gradient(180deg, rgba(112, 192, 91, 0) 0%, #70c05b 82.81%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (max-width: 600px) {
  .hero__item__effect {
    height: 60%;
  }
}
@media (max-width: 376px) {
  .hero__item__effect {
    bottom: -60px;
  }
}
.hero__item h4 {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.hero__item:hover .hero__item__effect {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 102, 51, 0)), to(#f63));
  background: linear-gradient(180deg, rgba(255, 102, 51, 0) 0%, #f63 100%);
}
.hero__item:hover h4 {
  font-size: 25px;
  color: black;
}
.hero .item1,
.hero .item10,
.hero .item12 {
  max-width: 584px;
}
@media (max-width: 760px) {
  .hero .item1,
  .hero .item10,
  .hero .item12 {
    max-width: 336px;
  }
}
@media (max-width: 376px) {
  .hero .item1,
  .hero .item10,
  .hero .item12 {
    height: 200px;
  }
}
@media (max-width: 600px) {
  .hero .item1 img,
  .hero .item10 img,
  .hero .item12 img {
    height: 100%;
  }
}
@media (max-width: 376px) {
  .hero .item1 .hero__item__effect,
  .hero .item10 .hero__item__effect,
  .hero .item12 .hero__item__effect {
    bottom: 0;
  }
}