$bgc-main: #fbf8ec;
$primary-color: #f63;
$secondary-color: #70c05b;
$text-color: #414141;
$text-color2: #232323;
$tertiary-color: #fcd5ba;
$white-color: #fff;
$black-color: #000;

// fonts

$primary-font: Rubik400;
$secondary-font: Rubik700;
