@use "../global";
@use "../utils/variables" as var;

body {
  background-color: var.$bgc-main;
}

.hero__cart {
  padding-top: 100px;
  padding-bottom: 80px;
  .line__cramp {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 27px;
    a {
      color: var.$text-color;
      display: flex;
      align-items: center;
      gap: 10px;
    }
    a:nth-child(2) {
      color: #c0c0c0;
    }
  }
  &__title {
    display: inline-block;
    color: var.$text-color;
    font-size: 64px;
    font-weight: 700;
    line-height: 150%;
    position: relative;
    @media (max-width: 520px) {
      font-size: 36px;
      margin-bottom: 20px;
    }
    .product__count {
      position: absolute;
      top: 0;
      right: -50px;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 20px;
      font-weight: 400;
      color: var.$white-color;
      background-color: var.$primary-color;
      border-radius: 50%;
      @media (max-width: 520px) {
        font-size: 16px;
        width: 30px;
        height: 30px;
        right: -35px;
      }
    }
  }
  .control__product {
    display: flex;
    gap: 40px;
    margin-bottom: 24px;
    @media (max-width: 410px) {
      flex-direction: column;
      align-items: start;
      gap: 15px;
    }
    .select__all {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 8px;
      cursor: pointer;
      .select__product__input {
        width: 25px;
        height: 25px;
        background-color: transparent;
        color: red;
        cursor: pointer;
      }
      p {
        color: #606060;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
      }
    }
    .delete__all {
      color: var.$primary-color;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      background-color: transparent;
      padding: 8px;
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1200px) {
      gap: 10px;
    }
    @media (max-width: 850px) {
      flex-direction: column;
      gap: 40px;
    }
  }
  &__left {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-height: 400px;
    overflow: auto;
    @media (max-width: 520px) {
      max-height: none;
    }
  }
  &__left::-webkit-scrollbar {
    display: none;
  }
  &__item {
    width: 876px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 72px;
    border-radius: 4px;
    padding-left: 88px;
    padding-right: 8px;
    background-color: var.$white-color;
    transition: 0.5s;
    @media (max-width: 1150px) {
      width: 100%;
    }
    @media (max-width: 520px) {
      flex-direction: column;
      gap: 35px;
      align-items: start;
      padding-left: 0;
      padding: 0 10px 10px 10px;
      border-radius: 8px;
    }
    &__left {
      display: flex;
      align-items: center;
      gap: 8px;
    }
    &__frame {
      position: absolute;
      left: 0;
      top: 0;
      min-height: 72px;
      padding: 0;
      img {
        width: 80px;
        min-height: 72px;
        border-radius: 4px;
        box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
      }
    }
    &__content {
      h2 {
        max-width: 450px;
        color: var.$text-color;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
      }
      p {
        color: #606060;
        font-size: 12px;
        font-weight: 400;
        line-height: 150%;
        span {
          font-weight: 700;
          color: var.$text-color;
          padding-right: 8px;
        }
      }
      @media (max-width: 520px) {
        padding-left: 88px;
      }
    }
    &__right {
      display: flex;
      align-items: center;
      gap: 16px;
      @media (max-width: 940px) {
        flex-direction: column;
        align-items: end;
        justify-content: center;
      }
      @media (max-width: 520px) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }
      .plus__minus {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        border-bottom-right-radius: 28px;
        border-top-left-radius: 28px;
        border-radius: 8px;
        background-color: #ddd;
        button {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 20px 20px;
          height: 24px;
          color: var.$white-color;
          background-color: var.$secondary-color;
        }
        .plus {
          border-bottom-right-radius: 8px;
          border-top-right-radius: 8px;
        }
        .minus {
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
        }
        span {
          color: black;
          padding: 0 8px;
        }
      }
      .product__price {
        padding-left: 16px;
        color: var.$text-color;
        font-size: 18px;
        font-weight: 700;
        line-height: 150%;
        @media (max-width: 940px) {
          font-size: 14px;
          padding-left: 10px;
        }
      }
    }
  }
  &__item:hover {
    box-shadow: 4px 8px 16px 0px rgba(255, 102, 51, 0.2);
  }
  &__right {
    &__top {
      padding-bottom: 24px;
      span {
        display: inline-block;
        padding-left: 10px;
        color: var.$text-color;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        margin-bottom: 20px;
      }
      p {
        color: var(--Grayscale-Hard, #8f8f8f);
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
      }
    }
    &__center {
      padding: 24px 0;
      border-top: 2px solid #f3f2f1;
      border-bottom: 2px solid #f3f2f1;
      .size__product,
      .discount__price {
        display: flex;
        justify-content: space-between;
        p {
          color: #8f8f8f;
          font-size: 16px;
          font-weight: 400;
          line-height: 150%;
        }
      }
      .size__product {
        margin-bottom: 10px;
        h4 {
          color: var.$text-color;
          font-size: 16px;
          font-weight: 400;
          line-height: 150%;
        }
      }
      .discount__price {
        h4 {
          color: var.$primary-color;
          font-size: 16px;
          font-weight: 700;
          line-height: 150%;
        }
      }
    }
    &__bottom {
      padding-top: 24px;
      margin-bottom: 24px;
      .total__price {
        text-align: center;
        div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          p {
            color: #8f8f8f;
            font-size: 16px;
            font-weight: 400;
            line-height: 150%;
          }
          h2 {
            color: var.$text-color;
            font-size: 24px;
            font-weight: 700;
            line-height: 150%;
          }
        }
      }
    }
    &__buttons {
      display: flex;
      justify-content: center;
      text-align: center;
      .chekout__btn {
        color: var.$primary-color;
        font-size: 24px;
        font-weight: 400;
        line-height: 150%;
        padding: 12px 45px;
        background-color: #fcd5ba;
        border-radius: 8px;
        @media (max-width: 940px) {
          font-size: 20px;
          padding: 12px 40px;
        }
      }
    }
  }
}
