@use "../global";
@use "../utils/variables" as var;

// HERO START

#hero {
  background: url(../../assets/images/hero-background.png);
}

.hero {
  padding-top: 72px;
  display: flex;
  align-items: center;
  gap: 18px;
  img {
    width: 100%;
    @media (min-width: 600px) {
      width: 303px;
    }
  }
  @media (max-width: 650px) {
    flex-direction: column;
  }
  &__title {
    color: var.$text-color;
    font-size: 48px;
    font-weight: 700;
    line-height: 150%;
  }
}

// HERO END

// PROMO START

#promo {
  background-color: var.$bgc-main;
}

.promo {
  padding-top: 80px;
  &__top {
    display: flex;
    justify-content: space-between;
    a {
      display: flex;
      align-items: center;
      gap: 8px;
      color: #606060;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
    }
  }
  &__title {
    color: var.$text-color;
    font-size: 36px;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 40px;
  }
  &__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @media (max-width: 1140px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
    @media (max-width: 900px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 600px) {
      grid-template-columns: repeat(1, auto);
      justify-content: center;
    }
  }
  &__card {
    max-width: 272px;
    background-color: var.$white-color;
    border-radius: 4px;
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
    &__img {
      position: relative;
      #card__heart,
      #card__heart-1,
      #card__heart-2,
      #card__heart-3,
      #card__heart-4,
      #card__heart-5,
      #card__heart-6,
      #card__heart-7,
      #card__heart-8,
      #card__heart-9,
      #card__heart-10,
      #card__heart-11 {
        position: absolute;
        right: 8px;
        top: 8px;
        fill: black;
        padding: 8px;
        border-radius: 4px;
        opacity: 0.5;
        background: var(--Grayscale-Lightest, #f3f2f1);
      }

      span {
        position: absolute;
        left: 13px;
        bottom: 5px;
        background-color: var.$primary-color;
        padding: 4px 8px;
        color: var.$white-color;
        border-radius: 4px;
      }
    }
    &__content {
      padding: 8px;
    }
    &__top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
      &__left {
        h1 {
          color: var.$text-color;
          font-size: 18px;
          font-weight: 700;
          line-height: 150%;
        }
        p {
          color: #bfbfbf;
          font-size: 12px;
          font-weight: 400;
          line-height: 150%;
        }
      }
      &__right {
        h2 {
          color: #606060;
          font-size: 16px;
          font-weight: 400;
          line-height: 150%;
        }
        p {
          color: #bfbfbf;
          font-size: 12px;
          font-weight: 400;
          line-height: 150%;
        }
      }
    }
    &__text {
      color: var.$text-color;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      margin-bottom: 8px;
    }
    &__btn {
      button {
        margin-top: 8px;
        width: 100%;
        padding: 8px;
        color: var.$secondary-color;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        border: 1px solid var.$secondary-color;
        border-radius: 4px;
        background-color: transparent;
      }
      button:hover {
        background-color: var.$primary-color;
        color: var.$white-color;
        border-color: var.$primary-color;
      }
    }
  }
}

#hearted,
#hearted-1,
#hearted-2,
#hearted-3,
#hearted-4,
#hearted-5,
#hearted-6,
#hearted-7,
#hearted-8,
#hearted-9,
#hearted-10,
#hearted-11 {
  display: none;
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 8px;
  border-radius: 4px;
  opacity: 0.5;
  background: var(--Grayscale-Lightest, #f3f2f1);
}

// PROMO END

// NEWS START

#news {
  background-color: var.$bgc-main;
}

.news {
  padding-top: 120px;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    @media (max-width: 520px) {
      flex-direction: column;
    }
    a {
      display: flex;
      align-items: center;
      gap: 8px;
      color: #606060;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
    }
  }
  &__title {
    color: var.$text-color;
    font-size: 36px;
    font-weight: 700;
    line-height: 150%;
  }
}

// NEWS END

// BOUGHT START

#bought {
  background-color: var.$bgc-main;
}

.bought {
  padding-top: 120px;
}

// BOUGHT END

// SPECIAL START

#special {
  background-color: var.$bgc-main;
}

.special {
  padding-top: 120px;
  &__title {
    color: var.$text-color;
    font-size: 36px;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 40px;
    @media (max-width: 1000px) {
      text-align: center;
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1000px) {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }
  &__left {
    max-width: 584px;
    background-color: var.$tertiary-color;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    border-radius: 4px;
    transition: 0.5s;
    @media (max-width: 560px) {
      flex-direction: column;
    }
    img {
      width: 100%;
    }
    &__content {
      max-width: 258px;
      h4 {
        color: var.$text-color;
        font-size: 24px;
        font-weight: 700;
        line-height: 150%;
      }
      p {
        color: var.$text-color;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
      }
    }
  }
  &__right {
    background-color: #e5ffde;
    box-shadow: none;
  }
  &__left:hover {
    box-shadow: 0px 8px 16px 0px rgba(202, 147, 96, 0.5);
  }
}

// SPECIAL END

// MAP START

#map {
  background-color: var.$bgc-main;
}

.map {
  padding-top: 120px;
  &__title {
    color: var.$text-color;
    font-size: 36px;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 40px;
  }
  &__row {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
    @media (max-width: 400px) {
      flex-wrap: wrap;
    }
    // .map__btn:nth-child(1) {
    //   background-color: var.$secondary-color;
    //   color: var.$white-color;
    // }
    .map__btn {
      color: var.$black-color;
      padding: 8px;
      font-size: 12px;
      font-weight: 400;
      line-height: 150%;
      border-radius: 4px;
    }
    .map__btn:hover {
      background-color: var.$secondary-color;
      color: var.$white-color;
    }
  }
  iframe {
    width: 100%;
  }
}

// MAP END

// RULES START

#rules {
  background-color: var.$bgc-main;
}

.rules {
  padding-top: 120px;
  padding-bottom: 80px;
  &__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    @media (max-width: 950px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
    @media (max-width: 650px) {
      grid-template-columns: repeat(1, auto);
      justify-content: center;
    }
  }
  &__card {
    max-width: 376px;
    background-color: var.$white-color;
    border-radius: 4px;
    transition: 0.5s;
    img {
      width: 100%;
    }
    &__content {
      padding: 10px;
      padding-bottom: 20px;
      h6 {
        color: var(--Grayscale-Hard, #8f8f8f);
        font-family: Rubik;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 18px */
        margin-bottom: 10px;
      }
      h3 {
        color: var(--Main-onSurface, #414141);
        font-family: Rubik;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 27px */
        margin-bottom: 10px;
      }
      p {
        height: 120px;
        color: var(--Main-onSurface, #414141);
        font-family: Rubik;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
        margin-bottom: 10px;
        @media (max-width: 330px) {
          margin-bottom: 50px;
        }
      }
      a {
        color: var(--Main-Secondary, #70c05b);
        text-align: center;
        font-family: Rubik;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
        padding: 10px 30px;
        background-color: #e5ffde;
        color: var.$secondary-color;
        border-radius: 4px;
      }
      a:hover {
        background-color: var.$secondary-color;
        color: var.$white-color;
      }
    }
  }
  &__card:hover {
    box-shadow: 4px 8px 16px 0px rgba(255, 102, 51, 0.2);
  }
}

// RULES END
