@font-face {
  font-family: Rubik400;
  src: url(../../assets/fonts/Rubik/static/Rubik-Regular.ttf);
}

@font-face {
  font-family: Rubik700;
  src: url(../../assets/fonts/Rubik/static/Rubik-Regular.ttf);
}
